.float-w{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:18px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    -webkit-box-shadow: 2px 2px 3px #999;
            box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
.my-float{
    margin-top:16px;
}
.tow {
    height: 100vh;
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: white;
}
section {
    overflow: hidden;
}
::-webkit-scrollbar-thumb {
    background: red;
}
:root {
    --black-light: #232323;
    --bg-section: #000000;
    --color-on-bg-section: white;
    --secondary-color-on-bg-section: #d0a7a7;
}

.straight-cutter {
    background: var(--black-light);
    height: 6px;
}
.cta {
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    border-radius: 25px;
    background: red;
    color: white;
    border: 1.5px solid black;
    display: block;
    text-align: center;
}
.cta {
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    border-radius: 25px;
    background: red;
    color: white;
    border: 1.5px solid black;
    display: block;
    text-align: center;
    white-space: nowrap;
}
.cta .cta_icon {
    width: 20px;
    display: inline-block;
}
@media (max-width: 576px) {
    .cta {
        font-size: 12px;
    }
}
a {
    text-decoration: none;
}
/* Start Global  */
img,
video,
iframe {
    max-width: 100%;
}
body.index-page  {
    font-family: 'Noto Kufi Arabic', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1266%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1273' transform='translate(0%2c 0)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1273' transform='translate(1380%2c 0)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1266'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1268'%3e%3cpath d='M6.09 8.55L13.58 5.82l0.76 2.08-7.5 2.73z'%3e%3c/path%3e%3cpath d='M10.1 0.66l2.3 1.07-3.39 7.28L6.71 7.93z'%3e%3c/path%3e%3cpath d='M6.85 10.64L4.12 3.14l2.08-0.76L8.93 9.88zM-0.39 9.91l12.44 5.8-0.95 2.06L-1.35 11.96z'%3e%3c/path%3e%3cpath d='M0.93 5.96l2.06 0.96-2.71 5.8-2.05-0.95z m11.12 5.19l2.05 0.96-2.7 5.8-2.06-0.96z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1270'%3e%3cpath d='M2.64 8.78C4.04 5.78 11.3 1.11 11.3 1.11s1.08 8.57-0.31 11.56c-0.95 2.04-3.38 3.69-6.19 2.38-2.81-1.31-3.11-4.23-2.16-6.27z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1269'%3e%3cpath d='M4.58 14.66C0.72 12.86-0.95 8.27 0.85 4.41 2.65 0.55 7.24-1.12 11.1 0.67S16.63 7.07 14.83 10.93c-1.8 3.86-6.4 5.53-10.25 3.73z m0.8-1.73c2.9 1.35 6.37 0.1 7.72-2.81 1.35-2.9 0.09-6.37-2.81-7.72-2.9-1.35-6.36-0.09-7.71 2.81-1.36 2.91-0.1 6.36 2.8 7.72z'%3e%3c/path%3e%3cpath d='M7.44 8.61a0.57 0.57 0 0 1-0.48-0.27 0.58 0.58 0 0 1-0.07-0.47L8.78 3.8a0.58 0.58 0 0 1 1.05 0.49l-1.47 3.15 3.29-0.01a0.58 0.58 0 0 1 0.59 0.58c0 0.32-0.26 0.58-0.58 0.58l-4.21 0.02z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1272'%3e%3cpath d='M11.51 9.91a46.75 46.75 0 0 1-0.3-0.6c-0.08-0.17-0.17-0.33-0.25-0.5-0.51-1-1.07-1.95-1.96-2.46A2.81 2.81 0 0 0 8.78 6.23c-0.08-0.04-0.16-0.06-0.24-0.09-0.97-0.35-2.06-0.17-3.16 0.08l0.05 0.1c0.06 0.12 0.12 0.24 0.19 0.37C6.7 6.44 7.71 6.3 8.56 6.69c0.84 0.39 1.38 1.26 1.89 2.24a35.1 35.1 0 0 1 0.31 0.61c0.08 0.16 0.16 0.32 0.24 0.49C11.55 11.11 12.17 12.15 13.19 12.63c0.4 0.18 0.82 0.27 1.25 0.28l0.24-0.5c-0.45 0.01-0.88-0.06-1.28-0.25-0.85-0.39-1.39-1.27-1.89-2.25z'%3e%3c/path%3e%3cpath d='M11.45 9.05c0.02 0.03 0.03 0.07 0.05 0.1 0.06 0.12 0.12 0.25 0.19 0.37 0.39-0.09 0.78-0.16 1.14-0.2l-0.57 1.24c0.11 0.17 0.22 0.34 0.33 0.49L13.41 9.29c0.35 0 0.68 0.04 0.99 0.15l-1.07 2.29c0.07 0.04 0.13 0.08 0.21 0.12 0.08 0.04 0.17 0.07 0.25 0.1L14.87 9.65c0.29 0.18 0.55 0.41 0.77 0.69L15.88 9.84C15.58 9.52 15.25 9.25 14.86 9.06c-1.02-0.48-2.22-0.28-3.41-0.01z m-7.02-2.08c-0.02-0.04-0.04-0.08-0.06-0.12-0.06-0.12-0.12-0.23-0.18-0.35-1.08 0.24-2.09 0.39-2.94 0C0.86 6.32 0.54 6.02 0.26 5.66l-0.23 0.51C0.31 6.5 0.64 6.78 1.04 6.96c1.02 0.48 2.21 0.28 3.39 0.01z'%3e%3c/path%3e%3cpath d='M1.17 6.06c0.07 0.05 0.15 0.09 0.22 0.13 0.08 0.04 0.16 0.07 0.24 0.09L2.7 3.98c0.28 0.17 0.53 0.4 0.76 0.66-0.01 0.01-0.02 0.02-0.02 0.03l-0.81 1.73a5.82 5.82 0 0 0 0.59-0.06L3.8 5.11c0.31 0.48 0.59 1.03 0.87 1.59C5.29 7.95 5.93 9.24 7.11 9.79c1.02 0.47 2.21 0.28 3.39 0.01l-0.06-0.12c-0.06-0.12-0.12-0.23-0.18-0.35-0.39 0.09-0.76 0.16-1.12 0.21L9.71 8.31A5.82 5.82 0 0 0 9.37 7.82l-0.8 1.72c0 0.01 0 0.02-0.01 0.03-0.35 0-0.68-0.04-0.99-0.15L8.64 7.13a1.97 1.97 0 0 0-0.23-0.14c-0.07-0.03-0.15-0.06-0.23-0.08l-1.08 2.3c-0.28-0.17-0.53-0.4-0.75-0.67 0.01-0.01 0.02-0.02 0.02-0.03L7.17 6.78a5.63 5.63 0 0 0-0.59 0.06l-0.57 1.24c-0.32-0.48-0.59-1.03-0.88-1.6C4.51 5.23 3.87 3.94 2.69 3.39c-0.39-0.18-0.81-0.27-1.23-0.3l-0.23 0.5c0.35 0.01 0.69 0.05 1.01 0.17L1.17 6.06z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1267'%3e%3cpath d='M2.77 6.26L0.49 5.2 1.05 4l2.28 1.06-0.56 1.2zM5.51 3.06L4.65 0.71l1.25-0.46 0.85 2.36-1.24 0.45z m-2.88 6.18l0.45 1.24-2.35 0.86-0.45-1.24 2.35-0.86z m8.28-5.94l-1.2-0.56L10.77 0.46l1.2 0.56-1.06 2.28z m-5.83 9.36l1.2 0.57-1.06 2.27-1.2-0.56 1.06-2.28zM13.38 6.73l-0.47-1.25 2.38-0.85 0.45 1.25-2.36 0.85z m-2.87 6.16l0.85 2.38-1.24 0.45-0.86-2.36 1.25-0.47z m5.02-2.14l-0.56 1.2-2.28-1.06L13.26 9.69l2.27 1.06z'%3e%3c/path%3e%3cpath d='M4.11 6.17a4.18 4.18 0 1 0 7.59 3.54 4.18 4.18 0 1 0-7.59-3.54'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1271'%3e%3cpath d='M13.95 12.35c0.27 0.12 0.62 0.02 0.78-0.22 0 0 0.22-0.35 0.43-0.79s0.33-0.84 0.33-0.84c0.09-0.28-0.06-0.61-0.33-0.74l-1.38-0.64c-0.27-0.12-0.47-0.42-0.44-0.67s0.24-0.96 0.51-1.06l1.44-0.52c0.28-0.1 0.44-0.42 0.36-0.7l-0.61-1.68c-0.13-0.27-0.46-0.4-0.73-0.31l-1.44 0.52c-0.28 0.1-0.63 0.03-0.77-0.15s-0.51-0.85-0.39-1.12L12.35 2.05c0.12-0.27 0.02-0.62-0.22-0.78 0 0-0.35-0.23-0.79-0.43s-0.84-0.33-0.84-0.33c-0.28-0.09-0.62 0.06-0.74 0.33l-0.64 1.38c-0.12 0.27-0.42 0.47-0.67 0.44s-0.96-0.24-1.06-0.51l-0.52-1.44C6.77 0.44 6.45 0.27 6.17 0.35l-1.69 0.61c-0.27 0.13-0.4 0.46-0.3 0.73l0.52 1.44c0.1 0.28 0.03 0.63-0.15 0.77s-0.85 0.51-1.12 0.39L2.05 3.65c-0.27-0.12-0.62-0.02-0.78 0.22 0 0-0.23 0.35-0.43 0.79s-0.33 0.84-0.33 0.84c-0.09 0.28 0.06 0.62 0.33 0.74l1.38 0.64c0.27 0.12 0.47 0.42 0.44 0.67-0.03 0.24-0.24 0.96-0.51 1.06l-1.43 0.52C0.44 9.23 0.27 9.55 0.35 9.83l0.61 1.69c0.13 0.27 0.46 0.4 0.73 0.3l1.44-0.52c0.28-0.1 0.63-0.03 0.77 0.15s0.51 0.85 0.39 1.12l-0.64 1.38c-0.12 0.27-0.02 0.62 0.22 0.78 0 0 0.35 0.23 0.79 0.43s0.84 0.33 0.84 0.33c0.28 0.09 0.61-0.06 0.74-0.33l0.64-1.38c0.12-0.27 0.42-0.47 0.67-0.44 0.24 0.03 0.96 0.24 1.06 0.52l0.52 1.43c0.1 0.28 0.42 0.44 0.7 0.36l1.69-0.61c0.27-0.13 0.4-0.46 0.3-0.73l-0.52-1.43c-0.1-0.28-0.03-0.63 0.15-0.78 0.19-0.15 0.85-0.51 1.12-0.39l1.38 0.65zM6.78 10.62c-1.45-0.67-2.07-2.39-1.4-3.84 0.67-1.45 2.4-2.07 3.84-1.4S11.3 7.78 10.62 9.22 8.23 11.3 6.78 10.62z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1273'%3e%3cuse xlink:href='%23SvgjsG1267' transform='translate(0%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(0%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(0%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(0%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(0%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(138%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(138%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(138%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(138%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(138%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(276%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(276%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(276%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(276%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1267' transform='translate(276%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(414%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(414%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(414%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(414%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(414%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(552%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(552%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(552%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(552%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(552%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(690%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(690%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(690%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(690%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(690%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(828%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(828%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(828%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(828%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(828%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(966%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(966%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(966%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(966%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1267' transform='translate(966%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(1104%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(1104%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(1104%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1271' transform='translate(1104%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(1104%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1272' transform='translate(1242%2c 0) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1269' transform='translate(1242%2c 138) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(1242%2c 276) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1270' transform='translate(1242%2c 414) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1268' transform='translate(1242%2c 552) scale(3)' fill='rgba(15%2c 69%2c 123%2c 0.2)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
}
.section {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
/* End Global  */
.index-page .home {
    min-height: 100vh;
    background-image: url('../img/hone-bg.jpg');
    background-size: cover;
    position: relative;
    text-align: center;
}
.index-page .home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.83);
    z-index: 1;
}
.index-page .home .home__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: white;
    gap: 40px;
}
.index-page .home .home_logo {
    width: 120px;
    margin-top: 60px;
}
.index-page .home .home_look-down {
    width: 200px;
}
/* Start category  */
.index-page .category {
    padding-top:    60px;
    padding-bottom: 60px;
    /* background: var(--bg-section); */
    color: var(--color-on-bg-section);
}
.index-page .category.category-left .row {
    flex-direction: row-reverse;
    overflow: hidden;
    width: 100%;
}
.index-page .category .category-img {
    text-align: center;
}
.index-page .category .category-img img {
    width: 200px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 1px white;
}
.index-page .category .category__category-title {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.index-page .category .category__description {
    color: var(--secondary-color-on-bg-section);
    margin-bottom: 30px;
    text-align: center;
}
/* End category  */
 footer {
    color: white;
    text-align: center;
    padding: 30px 0px ;
}
footer img {
    width: 120px;
    margin-bottom: 30px;
}
 /*
===========================================
===========================================
===========================================
===========================================
===========================================
===========================================
===========================================
===========================================
===========================================
*/
.category-page  .home {
    background-image: url("../img/hone-bg.jpg");
    background-size: cover;
    position: relative;
    color: white;

 }
 .category-page .home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.83);
    z-index: 1;
 }
.category-page .home__wrapper  {
    text-align: center;
    min-height: 60vh;
    position: relative;
    z-index: 2;

}
.category-page .home__wrapper .home_logo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 120px;
    margin-bottom: 40px;

}
.spikes {
    position: relative;
}
.spikes::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, #eee 25%);
    background-size: 30px;
}
body {
    font-family: 'Noto Kufi Arabic', sans-serif;
}
.products-section {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #eee;
}
.products-section .products-section__boxes  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
@media (min-width: 576px ) {
    .products-section .products-section__boxes  {
        grid-template-columns: repeat(3, 1fr);
    }
}
.products-section .products-section__boxes .box {
    padding: 10px;
    border: 2px solid red;
    border-radius: 12px;
    text-align: center;
    background: white;
}
.products-section .products-section__boxes .box .title {
    font-weight: bold;
}
.products-section .products-section__boxes .box .products-section__cta {
    margin: auto;
    padding: 6px 18px;
    border-radius: 25px;
    background: red;
    color: white;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 576px) {
    .products-section .products-section__boxes .box .products-section__cta  {
        font-size: 12px;
    }
}

.article-section {
    line-height: 1.8;
}
.article-section h2 {
    margin: 20px 0 30px;
    position: relative;
  }
.article-section h2::before, h2::after {
    content: "";
    position: absolute;
    right: 0;
    background-color: #c6c6c6;
    height: 4px;
    width: 50px;
    bottom: -9px;
  }
.article-section h2::before {
    width: 40px;
    bottom: 0px;
  }

  .article-section p {
    color: #777;
  }
footer {
    color: black;
    background: white;
    border-top: 2px solid blue;
}

/* 
============================================================================ 
============================================================================ 
============================================================================ 
============================================================================ 
 PAGE show-product 
============================================================================ 
============================================================================ 
============================================================================ 
*/
main.product-page {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M -697.8268169480494%2c406 C -601.83%2c372 -409.83%2c231.8 -217.82681694804944%2c236 C -25.83%2c240.2 70.17%2c447.2 262.17318305195056%2c427 C 454.17%2c406.8 550.17%2c134.4 742.1731830519506%2c135 C 934.17%2c135.6 1082.61%2c416.4 1222.1731830519507%2c430 C 1361.74%2c443.6 1396.43%2c248.4 1440%2c203' stroke='rgba(51%2c 121%2c 194%2c 0.08)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -58.26279528133011%2c414 C 37.74%2c355 229.74%2c101.4 421.7372047186699%2c119 C 613.74%2c136.6 709.74%2c470.6 901.7372047186699%2c502 C 1093.74%2c533.4 1189.74%2c316.6 1381.73720471867%2c276 C 1573.74%2c235.4 1850.08%2c312.6 1861.73720471867%2c299 C 1873.39%2c285.4 1524.35%2c226.2 1440%2c208' stroke='rgba(51%2c 121%2c 194%2c 0.08)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -817.6398326006097%2c251 C -721.64%2c293.8 -529.64%2c476.2 -337.6398326006096%2c465 C -145.64%2c453.8 -49.64%2c226.6 142.36016739939038%2c195 C 334.36%2c163.4 430.36%2c331.4 622.3601673993903%2c307 C 814.36%2c282.6 938.83%2c53.6 1102.3601673993903%2c73 C 1265.89%2c92.4 1372.47%2c337.8 1440%2c404' stroke='rgba(51%2c 121%2c 194%2c 0.08)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -725.8443390816525%2c372 C -629.84%2c318 -437.84%2c77.4 -245.8443390816525%2c102 C -53.84%2c126.6 42.16%2c476.2 234.1556609183475%2c495 C 426.16%2c513.8 522.16%2c212 714.1556609183475%2c196 C 906.16%2c180 1048.99%2c440 1194.1556609183476%2c415 C 1339.32%2c390 1390.83%2c139.8 1440%2c71' stroke='rgba(51%2c 121%2c 194%2c 0.08)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
ul li {
    list-style: none;

}
ul {
    padding: 0;
}
.show-product .the-product {
    /* background: blue; */
}

@media (min-width: 768px) {
    .show-product .the-product .proudct-wrapper {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        align-items: center;
    }
}
.show-product .the-product .product-title {
    text-align: center;
    padding: 20px;
}
.show-product .the-product .product-dis {
    padding: 0px 10px;
    color: #777;
}
.show-product .the-product .product-dis p {
    margin-bottom: .5rem;
}
.show-product .the-product .product-how .product-how__title,
.show-product .the-product .product-notes .product-notes__title {
    color: red;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-btn {
    margin-top: 20px;
}
.product-img {
    text-align: center;
}
.product-img img {
    max-width: 350px;

}